#image {
  max-width:100%;
  height: auto;
  display: block;
}
img {
  display: block;
}
#header {
  color: red;
}
#subheader {
  font-style: italic;
}
#img-caption {
  font-style: italic;
  font-size: 80%
}
#tribute-info {
  font-size: 15px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
}
